body{
    background-color: #F9C989;
    text-align: center;
}
.container-fluid{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.nav-link{
    color: white;
    margin-inline: 10px;
}
.Menu{
    color: white;
    font-size: 20px;
}
.d-flex{
    margin-left: 600px;
}
.Logotipo{
    width: 500px;
    height: 700px;
}
.Cartel{
    width: 700px;
    height: 500px;
    margin-top: 80px;
}